{% load static %}
<html>
    <head>

        <title>UIC POST</title>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
         <!-- Latest compiled and minified CSS -->

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/09207fd670.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">UIC POST</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'order_detail' %}">Search order</a></li>
                <li><a href="{% url 'delivery' %}">Delivery</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
          </nav>
    </header>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
          {{message|escape}}
        </div>
        {% endfor %}
    {% endif %}

    <body>
        {% block content %}
        {% endblock %}
    </body>
    
    <hr>
    <footer>
        <div>
            <p>© UIC POST 2024</p>
            <a href="{% url 'about' %}">About us</a>
        </div>
    </footer>

</html>